input[type="number"] {
    width: 25px;
    border-radius: 2px;
    margin-left: 10px;
    height: 24px;
    background: #424040;
    text-align: center;
    border: none;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.app {
    display: flex;
    align-items: center;
}

.items {
    display: flex;
}

.item {
    background: #202020;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
}

.temtems {
    transition: transform 1s ease-in-out;
}